@use 'variables' as *;

@mixin cross-browser-support-transform-x-set {
    transform:              $translate-x;
    -webkit-transform:      $translate-x;
    -ms-transform:          $translate-x;
    -moz-transform:         $translate-x;
    -o-transform:           $translate-x;
}

@mixin cross-browser-support-transition-set {
    transition:             $transition-05;
    -webkit-transition:     $transition-05;
    -moz-transition:        $transition-05;
    -o-transition:          $transition-05;
}