* {
    margin: 0;
    padding: 0;
    &:is(&::after, &::before, *) {
        box-sizing: border-box;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: linear-gradient(to top left, #3E065F, #000000);
    color: white;*/
}