@use 'partials/globals' as *;
@use 'partials/mixins' as *;
@use 'partials/responsive' as *;
@use 'partials/typography' as *;
@use 'partials/variables' as *;

.container {
    position: absolute;
    top: 16em;
    text-align: center;
    border: 0.125em solid #000;
    padding: 1.875em 2.5em;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    height: 12.75em;
    justify-content: space-evenly;
    h1 {
        padding-bottom: 0.15em;
    }
    #password-section {
        #password-show-or-hide-section {
            position: absolute;
            @include cross-browser-support-transform-x-set;
            top: 50%;
            right: 2.5em;
            cursor: pointer;
        }
        #password-entry {
            outline: 0;
            border: 0;
            border-bottom: 0.125em solid #000;
            height: 2em;
            width: 100%;
            font-size: 1em;
            transition: 0.5s all ease-in;
            text-align: center;
            @include cross-browser-support-transition-set;
            &::placeholder {
                font-size: 1em;
            }
            &:focus {
                border-bottom-color: #ad7139;
                @include cross-browser-support-transition-set;
            }
        }
    }
    #password-strength-check {
        background-color: rgb(193, 193, 193);
        height: 0.5em;
        width: 12em;
        display: flex;
        margin-top: 0.625em;
        width: 100%;
        border-radius: $border-radius;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: calc(1% * $password-strength);
            border-radius: $border-radius;
            background-image: linear-gradient(to right, #ff0000, #ffff00, #008000);
            overflow: hidden;
            transition: width 2s;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    padding: 3em 0;
    text-align: center;
}